.panel.panel-info
  .panel-heading Pay here

  %table.table
    %thead
      %tr
        %th  
    %tbody
      %tr
        %td
%br       
%a.btn.btn-info{:type => "button", href: "/orders", method: :get} Back to Orders