.panel.panel-info
  .panel-heading Create Product
  %br
  %form{ :action => "/products", :method => "post"}

    .input-group
      %span#basic-addon1.input-group-addon Name
      %input.form-control{:name => "name", "aria-describedby" => "basic-addon1", :placeholder => "Name", :type => "text"}
    %br
    .input-group
      %span#basic-addon2.input-group-addon Description
      %textarea.form-control{:name => "description", :rows => "3","aria-describedby" => "basic-addon1", :placeholder => "Description", :type => "textarea"}
    %br
    .input-group
      %span#basic-addon3-prenabled.input-group-addon Status
      .checkbox.product-status.form-control
        %label
          %input{:name => "status", :type => "checkbox", :value => "1"} Enabled 
    %br
    .input-group
      %span#basic-addon4.input-group-addon Price
      %input.form-control{:name => "price", "aria-describedby" => "basic-addon1", :placeholder => "Price", :type => "text"}
    %br
    %input.btn.btn-lg.btn-info{ :name => "submit", :type => "submit", :value => "Add Product"}
