.signin
  %h4 Please sign up
  %br
  %form{ :action => "/customers/signup", :method => "post"}
    .input-group
      %span#basic-addon1.input-group-addon First Name
      %input.form-control{:name => "firstname","aria-describedby" => "basic-addon1", :placeholder => "First Name", :type => "text"}/
    %br
    .input-group
      %span#basic-addon2.input-group-addon Last Name
      %input.form-control{:name => "lastname", "aria-describedby" => "basic-addon1", :placeholder => "Last Name", :type => "text"}/
    %br
    .input-group
      %span#basic-addon3.input-group-addon Email
      %input.form-control{:name => "email", "aria-describedby" => "basic-addon1", :placeholder => "Email", :type => "text"}/
    %br
    .input-group
      %span#basic-addon4.input-group-addon Password
      %input.form-control{:name => "password", "aria-describedby" => "basic-addon1", :placeholder => "Password", :type => "password"}/
    %br
    %input.btn.btn-lg.btn-primary.btn-block{ :name => "submit", :type => "submit", :value => "Sign up"}
